<p>nire-osagaia works!</p>
10 + 20 = {{10 + 20}}

<div>
    <div>
        Izena: {{langilea.izena}}
    </div>
    <div>
        Abizena: {{langilea.abizena}}
    </div>
    <div>
        Generoa: {{langilea.generoa}}
    </div>
</div>

<div>
    <img [src]="langilea.irudia">
    <img src="{{langilea.irudia}}">
</div>

<input [(ngModel)]="langilea.izena">
<input [(ngModel)]="langilea.abizena">

<input type="number" step="1" min="0" max="5" [(ngModel)]="rowLimit" />
<div class="erdian">
    <h2>{{ getTitle() }} </h2>
<table class="center">
    <tbody>
        <tr *ngFor="let langilea of langileak | slice:rowStart:rowLimit">
        <td>{{langilea.izena | uppercase}}</td>
        <td>{{langilea.abizena | uppercase}}</td>
        <td>{{langilea.generoa | lowercase}}</td>
        <td><span class="badge" [ngClass]="langilea.soldata>= 1999 ? 'badge-info' : (langilea.soldata == 1000 ? 'badge-
        danger' : 'badge-warning')"> {{langilea.soldata | currency:"EUR":"symbol":"1.2-2"}} </span> </td>
        <td>{{langilea.jaiotza | date: "dd/MM/yyyy"}}</td>
        <td>{{langilea.likes}}</td>
        <td><input type="button" value="Like" (click)="gehituLikes(langilea)" [disabled]="langilea.likes == 10" /></td>
        <td><input type="button" value="Kontaktatu" [disabled]="!langilea.lanean" /></td>
        </tr>

        <button class="btn btn-info btn-sm" [disabled]="rowStart<=0" (click)="kenduRow()"><i class="fas fa-arrow-circle-left"></i></button>&nbsp;
        <button class="btn btn-info btn-sm" [disabled]="rowLimit>=langileak.length" (click)="gehituRow()"><i class="fas fa-arrow-circle-right"></i></button>
        </tbody>
</table>
</div>


<div >
    <p [innerHTML]="myText"></p>
</div>